[submodule "AxEngine"]
	path = AxEngine
	url = git@github.com:AximoGames/AxEngine.git
[submodule "AxMarbles"]
	path = AxMarbles
	url = git@github.com:AximoGames/AxMarbles.git
[submodule "Experiments"]
	path = Experiments
	url = git@github.com:AximoGames/Experiments
