[submodule "AxEngine"]
	path = AxEngine
	url = https://github.com/AximoGames/AxEngine.git
	pushurl = git@github.com:AximoGames/AxEngine.git
[submodule "AxMarbles"]
	path = Games/Marbles
	url = https://github.com/AximoGames/AxMarbles.git
	pushurl = git@github.com:AximoGames/AxMarbles.git
[submodule "Experiments"]
	path = Experiments
	url = https://github.com/AximoGames/Experiments.git
	pushurl = git@github.com:AximoGames/Experiments.git
[submodule "AximoGames-pages"]
	path = AximoGames-pages
	url = https://github.com/AximoGames/AximoGames-pages.git
	pushurl = git@github.com:AximoGames/AximoGames-pages.git
[submodule "Documentation"]
	path = Documentation
	url = https://github.com/AximoGames/Aximo.Documentation.git
	pushurl = git@github.com:AximoGames/Aximo.Documentation.git
[submodule "Games/Pong"]
	path = Games/Pong
	url = https://github.com/AximoGames/pong_axengine.git
	pushurl = git@github.com:AximoGames/pong_axengine.git
