[submodule "AxEngine"]
	path = AxEngine
	url = https://github.com/AximoGames/AxEngine.git
	pushurl = git@github.com:AximoGames/AxEngine.git
[submodule "AxMarbles"]
	path = AxMarbles
	url = https://github.com/AximoGames/AxMarbles.git
	pushurl = git@github.com:AximoGames/AxMarbles.git
[submodule "Experiments"]
	path = Experiments
	url = https://github.com/AximoGames/Experiments.git
	pushurl = git@github.com:AximoGames/Experiments.git
[submodule "AximoGames-pages"]
	path = AximoGames-pages
	url = https://github.com/AximoGames/AximoGames-pages.git
	pushurl = git@github.com:AximoGames/AximoGames-pages.git
